.header {
  color: #fff;
  background-color: #22626E;
  padding: 20px 0;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.37);
  position: relative;
}

.sticky {
  width: 100%;
}

.header a, button {
  color: #fff;
}

.logo {
  font-weight: 300;
  font-size: 40px;
}

.logo span {
  font-weight: bold;
}

.menu-link {
  margin-right: 50px;
}

.menu-item a {
  font-weight: 600;
  font-size: 14px;
}

.categories-button {
  background-color: #fff;
  border-right: 1px solid #22626d;
  height: 35px;
  min-width: 35px;
  text-align: center;
}

.categories-button:after {
  content: none;
}

.dropdown-item {
  color: #000;
  padding: 7px;
}

.dropdown-item:hover {
  background-color: #D8D8D8;
}

.dropdown__content {
  border: none;
  min-width: 50px !important;
  border-radius: 0;
  padding: 0;
}

.categories-button:hover {
  background-color: #D8D8D8;
}

.search-input {
  width: 420px;
  height: 35px;
  display: block;
}

.search-button {
  height: 35px;
  min-width: 35px;
}

.search-icon, .categories-icon {
  width: 15px;
}

.sign-button {
  font-weight: 600;
  display: block;
  text-align: center;
  height: 35px;
  font-size: 13px;
  padding-top: 4px;
}


/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1199px) {
  .menu-link {
    margin-right: 30px;
    font-size: 13px;
  }

}

/* 768-992px */
@media screen and (max-width: 991px) {
  .search{
    margin: 10px 0;
    justify-content: center;
    max-width: 100%;
  }

  .menu {
    margin-top: 10px!important;
    justify-content: center;
  }

  .sign-button {
    display: block;
    margin: auto;
    width: 100px;
    margin-top: 5px;
  }
}

/* 576-768px */
@media screen and (max-width: 767px) {


}
/* 320-576px */
@media screen and (max-width: 575px) {


}




