<div class="footer">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-8">
        <div class="logo">
          <a href="#">
            Route<span>Lab</span>
          </a>
        </div>
      </div>
      <div class="col-lg-2">
        <ul class="social d-flex justify-content-between ml-auto">
          <li>
            <a href="instagram.com">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
              <a href="facebook.com">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
                <a href="twitter.com">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <div class="copyright">
            © 2019 RouteLab.
        </div>
      </div>
    </div>
  </div>
</div>