<div class="edit-profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-2">
        <h2>Personal information</h2>
        <div class="edit-form">
          <p class="edit-form__title">Nombre</p>
          <input type="text" class="edit-form__input" placeholder="Ismael el papel">
          <p class="edit-form__title">País</p>
          <input type="text" class="edit-form__input" placeholder="España">
          <p class="edit-form__title">Población</p>
          <input type="text" class="edit-form__input" placeholder="Barcelona">

          <div class="edit-form__inputs d-flex">
            <div class="edit-forb__block">
              <p class="edit-form__title">Edad</p>
              <input type="date" class="edit-form__input edit-form__input_short" placeholder="21">
            </div>
            <div class="edit-form__block">
              <p class="edit-form__title">Teléfono</p>
              <input type="tel" class="edit-form__input" placeholder="+34651176893">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h2>Account details</h2>
        <div class="edit-form">
          <p class="edit-form__title">Nombre de usuario</p>
          <input type="text" class="edit-form__input" placeholder="ismaelelpapel">
          <p class="edit-form__title">Email</p>
          <input type="email" class="edit-form__input" placeholder="ismaelelpapel@routelab.com">
          <p class="edit-form__title">Contraseña</p>
          <input type="password" class="edit-form__input" placeholder="">
          <p class="edit-form__title">Confirmar contraseña</p>
          <input type="password" class="edit-form__input"  placeholder="">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <button class="button d-block m-auto">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
