<div class="chat">
  <div *ngIf="opened" class="chat__contacts">
    <div class="chat__search">
      <i class="fas fa-search"></i>
    </div>
    <div class="chat__contact-list">
      <div class="chat__contact">
        <img src="../../assets/img/users/1.jpg" alt="User image" class="chat__contact-img">
        <p class="chat__username">
          @itsisma97
        </p>
      </div>
      <div class="chat__contact">
        <img src="../../assets/img/users/2.jpg" alt="User image" class="chat__contact-img">
        <p class="chat__username">
          @itsisma97
        </p>
      </div>
      <div class="chat__contact">
        <img src="../../assets/img/users/3.jpg" alt="User image" class="chat__contact-img">
        <p class="chat__username">
          @itsisma97
        </p>
      </div>
      <div class="chat__contact">
        <img src="../../assets/img/users/4.jpg" alt="User image" class="chat__contact-img">
        <p class="chat__username">
          @itsisma97
        </p>
      </div>
      <div class="chat__contact">
        <img src="../../assets/img/users/5.jpg" alt="User image" class="chat__contact-img">
        <p class="chat__username">
          @itsisma97
        </p>
      </div>
      <div class="chat__contact">
        <img src="../../assets/img/users/5.jpg" alt="User image" class="chat__contact-img">
        <p class="chat__username">
          @itsisma97
        </p>
      </div>
      <div class="chat__contact">
        <img src="../../assets/img/users/5.jpg" alt="User image" class="chat__contact-img">
        <p class="chat__username">
          @itsisma97
        </p>
      </div>
    </div>
  </div>
  <button  (click)="openChat()" class="button chat__button">
    <i class="fas fa-comments"></i>
  </button>
</div>

