.main {
  position: relative;
  padding-bottom: 150px;
  height: 700px;
}

.main-image {
  right: 0;
  position: absolute;
  margin-left: auto;
  width: 500px;
  height: 100%;
  background-image: url("../../assets/img/home-bg.png");
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: cover;

}

.main-title {
  margin-top: 110px;
  font-size: 55px;
  max-width: 610px;
  text-transform: uppercase;
  font-weight: 600;
}

.second-title {
  margin-top: 20px;
  font-size: 30px;
}

.signin {
  margin-top: 60px;

}

.signin__input {
  padding: 10px 10px;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  margin-top: 7px;
  display: block;
  width: 100%;
  line-height: 25px;
  font-size: 18px;
}

.signin__details {
  margin-top: 15px;
  margin-bottom: 5px;

}

.signin__button {

  padding: 10px 40px;

}

.signin__text {
  margin-top: 5px;
  font-size: 13px;
}

.signin__link {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
}

.signin-second {
  margin-top: 150px;
}

.signin-second h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 40px;
}

.signin__input_age {
  width: 100px;
  margin-right: 7px;
}

.signin__terms {
  line-height: 1.4em;
  width: 230px;
  font-size: 12px;
}

.signin__terms a {
  color: #000;
  font-weight: 600;
}

.signin__username {
  background-color: #fff;
  height: 100%;
}

agm-map {
  height: 350px;
}

.signin__span {
  display: block;
  height: 20px;
}

.error-message {
  margin-top: 2px;
  font-size: 14px;
  color: #267581;
}

/*______________________________________________________________*/

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 0px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}

.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(225, 225, 225, 0.7);
}

.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;

}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}

/* Boilerplate stuff*/

html, body {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button ~ button {
  margin-left: 20px;
}
