<div class="main">
  <div class="main-image"></div>
  <div class="container">
    <div *ngIf="!advanceRegister" class="row">
      <div class="col-lg-12">
        <h1 class="main-title">
          You deserve <br> a route today!
        </h1>
        <h2 class="second-title">
          Find your perfect route with RouteLab
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <form *ngIf="!advanceRegister" class="signin" [formGroup]="profileForm" (ngSubmit)="loginAction()">
          <input type="text" class="signin__input" formControlName="email" placeholder="Email">
          <input type="password" class="signin__input" formControlName="pass" placeholder="Contraseña">
          <input *ngIf="register" type="password" class="signin__input" formControlName="confpass"
                 placeholder="Confirmar contraseña">
          <div class="signin__details d-flex justify-content-between align-items-center">
            <div class="signin__reg">
              <p class="signin__text">
                {{registerText}}
              </p>
              <a (click)="goRegister()" class="signin__link">
                {{registerLink}}
              </a>
            </div>
            <button type="submit" class="signin__button button">
              {{actionLink}}
            </button>
          </div>
        </form>
        <form *ngIf="advanceRegister" class="signin signin-second" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <h2>Completa tu perfil</h2>
          <input type="text" class="signin__input" formControlName="name" placeholder="Nombre">
          <input type="text" class="signin__input" formControlName="username" placeholder="Nombre de usuario">
          <input type="text" class="signin__input" formControlName="country" placeholder="País">
          <input type="text" class="signin__input" formControlName="city" placeholder="Población">
          <div class="signin__inputs d-flex">
            <input type="text" class="signin__input signin__input_age"  formControlName="age" placeholder="Edad">
            <input type="text" class="signin__input" formControlName="phone" placeholder="Teléfono">
          </div>
          <div class="signin__details d-flex justify-content-between">
            <div class="signin__reg">
              <p class="signin__terms">
                By signing up, you agree to our
                <a target="_blank" href="/terms">
                  Terms of Use and Privacy Policy.
                </a>
              </p>
            </div>
            <button type="submit" class="signin__button button">
              {{actionLink}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
