.main {
  position: relative;
  padding-bottom: 150px;
  height: 700px;
}

.main-image {
  right: 0;
  position: absolute;
  margin-left: auto;
  width: 500px;
  height: 100%;
  background-image: url("../../assets/img/home-bg.png");
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: cover;

}


.main-title {
  margin-top: 110px;
  font-size: 55px;
  max-width: 610px;
  text-transform: uppercase;
  font-weight: 600;
}

.second-title {
  margin-top: 20px;
  font-size: 30px;
}


.signin {
  margin-top: 60px;
}

.signin__input {
  padding: 10px 10px;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
  margin-top: 7px;
  display: block;
  width: 100%;
  line-height: 25px;
  font-size: 18px;
}

.signin__details {
  margin-top: 15px;
}

.signin__button {

  padding: 10px 40px;
}

.signin__text {
  font-size: 13px;
}

.signin__link {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
}

.signin-second {
  margin-top: 150px;
}

.signin-second h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 40px;
}

.signin__input_age {
  width: 100px;
  margin-right: 7px;
}

.signin__terms {
  line-height: 1.4em;
  width: 230px;
  font-size: 12px;
}

.signin__terms a {
  color: #000;
  font-weight: 600;
}

.signin__username {
  background-color: #fff;
  height: 100%;
}
