<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Ponte en contacto con nosotros</h2>
        <div class="contact-form">
          <p class="contact-form__label">
           Nombre:
          </p>
          <input type="text" class="input" placeholder="Nombre" name="name">
          <p class="contact-form__label">
            Apellidos:
          </p>
          <input type="text" class="input" placeholder="Apellidos" name="name">
          <p class="contact-form__label">
            Email:
          </p>
          <input type="text" class="input" placeholder="Email" name="name">
          <p class="contact-form__label">
            Comentario:
          </p>
          <textarea type="text" class="input" placeholder="Comentario" name="name"></textarea>
          <button type="submit" class="button">Enviar</button>
        </div>
      </div>
      <div class="col-lg-4 offset-1">
        <div class="contact-info">
          <div class="contact-info__head">
            <i class="fa fa-home"></i>
            Dirección
          </div>
          <div class="contact-info__body">
            <p>Carrer de Pelai, 8</p>
            <p>08001 Barcelona</p>
            <p>España</p>
            <p>Email: info@routelab.com</p>
            <p>Tel. +34 651 126 592</p>
          </div>
        </div>
        <iframe class="googlemap"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBQwgG1zHjVXd6omQVAccKdv9skMCPg3-E
    &q=Stucom+Centre+d'Estudis" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
