<div class="main">
  <div class="main-image"></div>
  <div class="container">
    <div *ngIf="titleVisible" class="row">
      <div class="col-lg-12">
        <h1 class="main-title">
          You deserve <br> a route today!
        </h1>
        <h2 class="second-title">
          Find your perfect route with RouteLab
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="search d-flex">
          <!--Seleccionar categoria-->
          <div class="search__section search__section_category">
            <p class="search__title">
              ¿Que te gustaría hacer?
            </p>
            <div class="search__select">
              <div ngbDropdown class="d-inline-block">
                <button class="search__dropdown" id="addBlack" ngbDropdownToggle>{{category}}</button>
                <div class="dropdown__content" ngbDropdownMenu>
                  <button *ngFor="let cat of categories" (click)="category = cat; assignBlack()" class="dropdown-item">
                    {{cat}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--Autocomplete google-->
          <div class="search__section search__section_location" *ngIf="loadGoogle">
            <p class="search__title">
              ¿Dónde estas?
            </p>
            <input type="text" class="search__input" placeholder="Ciudad"
                   ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                   (onAddressChange)="handleAddressChange($event)"/>
          </div><!--Opcines de rutas-->
          <div class="search__section search__section_category">
            <p class="search__title">
              Opciones de ruta
            </p>
            <div class="search__select">
              <div ngbDropdown class="d-inline-block">
                <button class="search__dropdown" id="addBlack2" ngbDropdownToggle>Opciones</button>
                <div class="dropdown__content" ngbDropdownMenu>
                  <button *ngFor="let opt of mainMenuOptions" (click)="mainMenuOption = opt; assignBlack2()"
                          class="dropdown-item">
                    <input type="checkbox">{{opt}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button class="search__button">Encuentra tu ruta</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="routes__component">
  <app-routes titleRoutes="Mejores rutas"></app-routes>
</div>

