<div class="main">
  <div class="main-image"></div>
  <div class="container">
    <div *ngIf="titleVisible" class="row">
      <div class="col-lg-12">
        <h1 class="main-title">
          You deserve <br> a route today!
        </h1>
        <h2 class="second-title">
          Find your perfect route with RouteLab
        </h2>
      </div>
    </div>
    <div *ngIf="searchVisible" class="row">
      <div class="col-lg-12">
        <div class="search d-flex">
          <div class="search__section search__section_category">
            <p class="search__title">
              What do you want to do?
            </p>
            <div class="search__select">
              <div ngbDropdown class="d-inline-block">
                <button class="search__dropdown" id="addBlack" ngbDropdownToggle>{{category}}</button>
                <div class="dropdown__content" ngbDropdownMenu>
                  <button *ngFor="let cat of categories" (click)="category = cat; assignBlack()" class="dropdown-item">{{cat}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="search__section search__section_location">
            <p class="search__title">
              Where are you?
            </p>
            <input type="text" class="search__input" placeholder="Barcelona">
          </div>
          <div class="search__section search__section_destination">
            <p class="search__title">
              Where do you want to go?
            </p>
            <input type="text" class="search__input" placeholder="Paris">
          </div>
          <button class="search__button">FIND YOUR ROUTE</button>
        </div>
      </div>
    </div>
    <div *ngIf="!searchVisible" class="row">
      <div class="col-lg-5">
        <div class="signin">
          <input type="text" class="signin__input" placeholder="Email">
          <input type="password" class="signin__input" placeholder="Contraseña">
          <div class="signin__details d-flex justify-content-between align-items-center">
           <div class="signin__reg">
             <p class="signin__text">
               Not registered yet?
             </p>
             <a class="signin__link">
               Register now
             </a>
           </div>
            <button class="signin__button button">
              SIGN IN
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="routes__component">
  <app-routes titleRoutes="Mejores rutas"></app-routes>
</div>
