<div>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
        <div>
          <div class="add">
            addPhoto
            <button class="addPhoto"> +</button>
          </div>
        </div>
        <div class="photosGallery">
          photosGallery
        </div>
      </div>
    </div>
    <div class="row">
      <div class="photoGal">
        <div class="photos">
          <div class="d-flex">
            <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
            <img class="uploadPhoto" src="../../assets/img/sample_images/2.jpg">
            <img class="uploadPhoto" src="../../assets/img/sample_images/2.jpg">

          </div>
          <div class="photos ">
            <div class="d-flex">
              <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
              <img class="uploadPhoto" src="../../assets/img/sample_images/2.jpg">
              <img class="uploadPhoto" src="../../assets/img/sample_images/2.jpg">

            </div>
            <div class="photos">
              <div class="d-flex">
                <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
                <img class="uploadPhoto" src="../../assets/img/sample_images/2.jpg">
                <img class="uploadPhoto" src="../../assets/img/sample_images/2.jpg">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

cada img en un div col-lg3 o justufy cintent between
