<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <div class="add">

            <a class="addPhoto m-auto"> +</a>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/test.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individual-photo ">
          <div class="button-photo align-items-center d-flex justify-content-center">
            <button class="go-to d-block">
              Ruta
            </button>
          </div>
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>

    </div>
  </div>
</div>



