<div id="wrapper">

    <div>
      <div class="add">
        <a class="addPhoto "> +</a>
      </div>
    </div>

  <div id="list">

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/test3.jpg">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/test2.jpg">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/test.jpg">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/test1.jpg">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/test.jpg">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/home-bg.png">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/route_image.png">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/sample_route.png">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/test.jpg">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
    </div>

    <div class="individual-photo ">
      <div class="button-photo ">
        <button class="go-to">
          Ruta
        </button>
      </div>
      <img class="uploadPhoto" src="../../assets/img/test.jpg">
    </div>

  </div>
</div>
<!-- ... -->

