<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <div class="add">

            <a class="addPhoto m-auto"> +</a>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="individualPhoto">
          <img class="uploadPhoto" src="../../assets/img/sample_images/1.jpg">
        </div>
      </div>


    </div>
  </div>
</div>



