.addPhoto {
  background-color: #22626E;
  padding: 15px 24px;
  width: 70px;
  align-items: center;
  display: block;

}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
  font-size: 37px;

}

.addPhoto:hover {
  background-color: #13383E;
}

.uploadPhoto:hover {
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
}
.uploadPhoto{
  margin-top: 40px;
  width: 100%;


}
img {
  width: 340px;
  height: 100%;
  margin-bottom: 20px;
  display: block;
}
.photoGal {
  margin-bottom: 20px;
}



