<div class='coverpage'>
  <div class='user'>
    <div class="background">
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-1'>
          <div class='profile'>
            <div class="profilePicture">
              <div class="blurPicture">

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="profileDescription">
            <ul>
              <li class="name">{{currentUser.nombre}}, {{currentUser.edad}}
                <button class="points-button">90 puntos</button>
              </li>
              <li>@{{currentUser.nombreusuario}}</li>
              <li><img class="location" src="../../assets/icons/locationWhite.png"></li>
              <li id="stars" class="stars d-flex">
                <img src="../../assets/icons/fullStarWhite.png">
                <img src="../../assets/icons/fullStarWhite.png">
                <img src="../../assets/icons/fullStarWhite.png">
                <img src="../../assets/icons/blankStarWhite.png ">
                <img src="../../assets/icons/blankStarWhite.png">
              </li>
            </ul>
            <div class="profileDescription">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navmenu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <ul class="menu d-flex nav nav-pills">
            <li class="menu-item nav-item">
              <a data-toggle="pill" href="#pills-home">Tus rutas</a>
            </li>
            <li class="menu-item nav-item">
              <a data-toggle="pill" href="#pills-favourites">Favoritos</a>
            </li>
            <li class="menu-item">
              <a data-toggle="pill" href="#pills-gallery">Galeria</a>
            </li>
            <li class="menu-item">
              <a data-toggle="pill" href="#pills-followers">Seguidores</a>
            </li>
            <li class="menu-item">
              <a data-toggle="pill" href="#pills-followed">Seguidos</a>
            </li>
            <li class="menu-item">
              <a data-toggle="pill" href="#pills-edit">Editar perfil</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
      <app-personal-area></app-personal-area>
      <app-routes></app-routes>
    </div>
    <div class="tab-pane fade" id="pills-favourites" role="tabpanel" >
      <app-routes></app-routes>
    </div>
    <div class="tab-pane fade" id="pills-gallery" role="tabpanel">
      <app-gallery></app-gallery>
    </div>
    <div class="tab-pane fade" id="pills-followers" role="tabpanel">
      <app-followers></app-followers>
    </div>
    <div class="tab-pane fade" id="pills-followed" role="tabpanel">
      <app-followers></app-followers>
    </div>
    <div class="tab-pane fade" id="pills-edit" role="tabpanel">
      <app-edit-profile></app-edit-profile>
    </div>
  </div>
</div>
