.user {
  position: relative;
  margin-left: auto;
  width: 100%;
  background-image: url("../../assets/img/bannerPika.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.350), rgba(255, 0, 0, 0));

}

.profilePicture {
  width: 140px;
  height: 140px;
  background-image: url("../../assets/img/0.jpg");
  background-size: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.profileDescription {
  line-height: 25px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 17px;
  width: 400px;
  border-radius: 5px;
  text-align: left;
  color: #ffffff;

}

.name {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.points-button {
  margin-left: 15px;
  width: 65px;
  height: 27px;
  background-color: #22626E;
  color: #fff;
  font-weight: 600;
  line-height: 10px;
  font-size: 12px;
}

.points-button:hover {
  background-color: #13383E;
}

.menu {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 0;
  margin: 0;
}

.menu-item {
  font-weight: 600;
  text-decoration: none;
  display: block;
  width: 100%;
}

.menu-item a {
  text-align: center;
  display: block;
  height: 45px;
  line-height: 45px;
}

.menu-item :hover {
  background: rgba(173, 200, 204, 1);
}

.navmenu {
  background-color: #D0DEE0;
}
