.route {
    padding: 80px 0;
    background-color: #E9F0EF;
}

.route__title {
    margin-bottom: 15px;
}

.route-button {
    padding: 4px 10px;
    background-color: #22626E;
    color: #fff; 
}

.stars {
    width: 120px;
    margin-bottom: 15px;
}

.photo__current {
    display: block;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.192);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.192);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.192);
}

.photo__img {
    width: 100%;
}

.photo__imgs {
    width: 100%;
    cursor: pointer;
}

.slick-center img {
    transform: scale(3.1) !important;
}

.description {
    margin-top: 40px;
    padding: 40px 35px;
    background-color: #fff;
    font-size: 18px;
    line-height: 1.8em;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.192);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.192);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.192);
}

.description__text{
    margin-bottom: 25px;
    font-weight: 300;
}