<div class="route">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h2 class="route__title">
          {{post.titulo}}
        </h2>
      </div>
      <div class="col-lg-3">
        <button class="button route-button ml-auto">Promociona tu ruta</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="stars d-flex justify-content-between">
          <img *ngFor="let dummy of ' '.repeat(post.media).split('')" [src]=STAR alt="star image">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="photo__current">
          <img class="photo__img" [src]=CURRENTIMG>
          <div class="photo__preview">

            <img *ngFor="let photo of ROUTEIMGS; let i=index" (click)="loadPhoto(ROUTEIMGS[i])" class="photo__imgs"
                 [src]=ROUTEIMGS[i]>

          </div>
        </div>
        <div class="description">
          <div class="description__text">
            {{post.descripcion}}
          </div>
          <div class="description__map">

            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-direction [origin]="origin" [destination]="destination">
              </agm-direction>
            </agm-map>
          </div>
        </div>
        <div class="comments">
          <p class="comments-title">
            {{comments.length}} comentarios
          </p>
          <div class="comments-content">
            <form class="post-comment" *ngIf="_loginService.isAuthenticated()" [formGroup]="commentForm" (ngSubmit)="addComment()">
              <textarea class="post-comment__text" formControlName="comment"></textarea>
              <button class="ml-auto route-button route-button_comment">
                Comentar
              </button>
            </form>
            <div *ngFor="let comment of comments" class="comment d-flex align-items-center">
              <img src="../../assets/img/users/6.jpg" alt="user profile" class="comment__user">
              <div class="comment__info">
                <p class="comment__username">{{comment.nombreusuario}}<i class="fas fa-crown"></i></p>
                <div class="comment__text">
                  {{comment.comentario}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 ml-auto">
        <div class="recommendations">
          <p class="recommendations-title">
            Recomendaciones
          </p>
          <div class="recommendation d-flex align-items-center">
            <img src="../../assets/icons/location.png" class="recommendation__icon">
            <span class="recommendation__name">Barcelona - Montjuïc (10 km)</span>
          </div>
          <div class="recommendation d-flex align-items-center">
            <img src="../../assets/icons/timer.png" class="recommendation__icon">
            <span class="recommendation__name">4 horas de tiempo libre</span>
          </div>
          <div class="recommendation d-flex align-items-center">
            <img src="../../assets/icons/footwear.png" class="recommendation__icon">
            <span class="recommendation__name">Calzado especial</span>
          </div>
          <div class="recommendation d-flex align-items-center">
            <img src="../../assets/icons/snow.png" class="recommendation__icon">
            <span class="recommendation__name">Temperaturas bajas</span>
          </div>
          <div class="recommendation d-flex align-items-center">
            <img src="../../assets/icons/food.png" class="recommendation__icon">
            <span class="recommendation__name">Llevar comida y agua</span>
          </div>
        </div>
        <div class="similar-routes">
          <div class="similar-routes-head d-flex justify-content-between">
            <p class="similar-routes-title">
              Rutas parecidas
            </p>
            <button class="button route-button">Ver todo</button>
          </div>
          <div class="similar-routes-list  d-flex justify-content-between flex-wrap">
            <div class="similar-route">
              <img src="../../assets/img/sample_images/1.jpg" alt="route__img" class="similar-route__img">
              <div class="similar-route__info">
                <p> Nombre de la ruta</p>
                <div class="stars d-flex justify-content-between">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                </div>
              </div>
            </div>
            <div class="similar-route">
              <img src="../../assets/img/sample_images/1.jpg" alt="route__img" class="similar-route__img">
              <div class="similar-route__info">
                <p> Nombre de la ruta</p>
                <div class="stars d-flex justify-content-between">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                </div>
              </div>
            </div>
            <div class="similar-route">
              <img src="../../assets/img/sample_images/1.jpg" alt="route__img" class="similar-route__img">
              <div class="similar-route__info">
                <p> Nombre de la ruta</p>
                <div class="stars d-flex justify-content-between">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                </div>
              </div>
            </div>
            <div class="similar-route">
              <img src="../../assets/img/sample_images/1.jpg" alt="route__img" class="similar-route__img">
              <div class="similar-route__info">
                <p> Nombre de la ruta</p>
                <div class="stars d-flex justify-content-between">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                </div>
              </div>
            </div>
            <div class="similar-route">
              <img src="../../assets/img/sample_images/1.jpg" alt="route__img" class="similar-route__img">
              <div class="similar-route__info">
                <p> Nombre de la ruta</p>
                <div class="stars d-flex justify-content-between">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                </div>
              </div>
            </div>
            <div class="similar-route">
              <img src="../../assets/img/sample_images/1.jpg" alt="route__img" class="similar-route__img">
              <div class="similar-route__info">
                <p> Nombre de la ruta</p>
                <div class="stars d-flex justify-content-between">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                  <img [src]=STAR alt="location image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
