<div class="route">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h2 class="route__title">
          Nombre de la ruta
        </h2>
      </div>
      <div class="col-lg-3">
        <button class="button route-button">Promociona tu ruta</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="stars d-flex justify-content-between">
          <img [src]=STAR alt="location image">
          <img [src]=STAR alt="location image">
          <img [src]=STAR alt="location image">
          <img [src]=STAR alt="location image">
          <img [src]=STAR alt="location image">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="photo__current">
          <img class="photo__img" [src]=CURRENTIMG>
          <div class="photo__preview">
            <div *ngFor="let photo of ROUTEIMGS; let i=index">
              <img (click)="loadPhoto(ROUTEIMGS[i])" class="photo__imgs" [src]=ROUTEIMGS[i]>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="description__text">
            Lorem ipsum dolor sit amet, in eos vivendo singulis. Eum illum gloriatur neglegentur ea. Te falli putent
            cum, probo ferri luptatum vix et. Vero dolorem iracundia at eum, movet mentitum atomorum ea qui, nostrum
            expetenda ne quo. Per vocent petentium gloriatur ne, ex oporteat philosophia eam.
          </div>
          <div class="description__map">
            <iframe width="600" height="350" frameborder="0" style="border:0" 
            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBQwgG1zHjVXd6omQVAccKdv9skMCPg3-E&origin=Toronto&destination=Montreal"
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
      <div class="col-lg-4">

      </div>
    </div>
  </div>
</div>