<form [formGroup]="productForm">
  <div class="col-lg-3 offset-1 ">
    <div class="nameRoute"> Nombre de la ruta
      <span style="color:red;" *ngIf="message">{{message}}</span>
      <div>
        <input class="text">
      </div>
    </div>
    <div class="locationA ">Origen
      <div class="d-flex ">
        <input formControlName="origen" class="text" type="text" class="search__input" placeholder="Ciudad"
               ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
               (onAddressChange)="handleAddressChange($event)">
      </div>
      <div>
        <app-upload-photo></app-upload-photo>
      </div>
    </div>
    <div class="locationA">Destino
      <div class="d-flex ">
        <input class="text" formControlName="destino" class="text" type="text" class="search__input"
               placeholder="Ciudad"
               ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
               (onAddressChange)="handleAddressChange($event)">
      </div>
      <div>
        <app-upload-photo></app-upload-photo>
      </div>
      <!--
  AÑADIR PARADAS
  <div>
     <div formArrayName="selling_points">
       <div *ngFor="let item of sellingPoints.controls; let pointIndex=index" [formGroupName]="pointIndex">
         <div>
           Lugar: <input formControlName="point" />
         </div>
         <app-upload-photo></app-upload-photo>
       </div>
     </div>
     <div>
       <button class="addLocation addRoute" (click)="nuevoDestino()"> Añade un nuevo destino</button>
     </div>
   </div>-->
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-10 offset-1">
      <div class="description">
          <textarea formControlName="description" class="nr1-input">
          </textarea>
      </div>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-lg-10 offset-1">
      <div class="text">
        Recomendaciones:
      </div>
      <div class="recomendations">

        <!-- <select formControlName="select">
           <option>Ropa de abrigo
           </option>
           <option>Calzado cómodo</option>
           <option> Agua</option>
           <option>Comida</option>
           <option>Ropa de baño</option>
         </select>-->
      </div>
    </div>

    <div class="col-lg-12 ">
      <div class="addButton ">
        <button class="addRoute m-auto " (click)="uploadRoute()">
          <a class="iconAdd"> + </a>
        </button>
      </div>
    </div>
  </div>
</form>
