<div *ngIf="loadRoutes;else showroute" class="routes">
  <div class="container">
    <h2>{{titleRoutes}}</h2>
    <div class="row">
      <div class="col-lg-4">
        <a routerLink="/route" class="route">
          <div class="route__img">
            <img [src]=ROUTE_SAMPLE alt="route image">
          </div>
          <div class="route__main">
            <p class="route__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet neque non nulla gravida
              imperdiet. Proin et leo sit amet felis mattis ornare in sed lacus. Vestibulum auctor pellentesque arcu
              consectetur aliquet.
            </p>
            <div class="route__info d-flex justify-content-between">
              <div class="route__info-box">
                <img [src]=LOCATION alt="location image">
                <span> 180km</span>
              </div>
              <div class="route__info-box">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
              </div>
              <div class="route__info-box">
                <img [src]=TIMER alt="location image">
                <span> 4h</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a routerLink="/route" class="route">
          <div class="route__img">
            <img [src]=ROUTE_SAMPLE alt="route image">
          </div>
          <div class="route__main">
            <p class="route__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet neque non nulla gravida
              imperdiet. Proin et leo sit amet felis mattis ornare in sed lacus. Vestibulum auctor pellentesque arcu
              consectetur aliquet.
            </p>
            <div class="route__info d-flex justify-content-between">
              <div class="route__info-box">
                <img [src]=LOCATION alt="location image">
                <span> 180km</span>
              </div>
              <div class="route__info-box">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
              </div>
              <div class="route__info-box">
                <img [src]=TIMER alt="location image">
                <span> 4h</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a routerLink="/route" class="route">
          <div class="route__img">
            <img [src]=ROUTE_SAMPLE alt="route image">
          </div>
          <div class="route__main">
            <p class="route__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet neque non nulla gravida
              imperdiet. Proin et leo sit amet felis mattis ornare in sed lacus. Vestibulum auctor pellentesque arcu
              consectetur aliquet.
            </p>
            <div class="route__info d-flex justify-content-between">
              <div class="route__info-box">
                <img [src]=LOCATION alt="location image">
                <span> 180km</span>
              </div>
              <div class="route__info-box">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
              </div>
              <div class="route__info-box">
                <img [src]=TIMER alt="location image">
                <span> 4h</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a routerLink="/route" class="route">
          <div class="route__img">
            <img [src]=ROUTE_SAMPLE alt="route image">
          </div>
          <div class="route__main">
            <p class="route__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet neque non nulla gravida
              imperdiet. Proin et leo sit amet felis mattis ornare in sed lacus. Vestibulum auctor pellentesque arcu
              consectetur aliquet.
            </p>
            <div class="route__info d-flex justify-content-between">
              <div class="route__info-box">
                <img [src]=LOCATION alt="location image">
                <span> 180km</span>
              </div>
              <div class="route__info-box">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
              </div>
              <div class="route__info-box">
                <img [src]=TIMER alt="location image">
                <span> 4h</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a routerLink="/route" class="route">
          <div class="route__img">
            <img [src]=ROUTE_SAMPLE alt="route image">
          </div>
          <div class="route__main">
            <p class="route__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet neque non nulla gravida
              imperdiet. Proin et leo sit amet felis mattis ornare in sed lacus. Vestibulum auctor pellentesque arcu
              consectetur aliquet.
            </p>
            <div class="route__info d-flex justify-content-between">
              <div class="route__info-box">
                <img [src]=LOCATION alt="location image">
                <span> 180km</span>
              </div>
              <div class="route__info-box">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
              </div>
              <div class="route__info-box">
                <img [src]=TIMER alt="location image">
                <span> 4h</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a routerLink="/route" class="route">
          <div class="route__img">
            <img [src]=ROUTE_SAMPLE alt="route image">
          </div>
          <div class="route__main">
            <p class="route__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet neque non nulla gravida
              imperdiet. Proin et leo sit amet felis mattis ornare in sed lacus. Vestibulum auctor pellentesque arcu
              consectetur aliquet.
            </p>
            <div class="route__info d-flex justify-content-between">
              <div class="route__info-box">
                <img src="../../assets/img/" alt="location image">
                <span> 180km</span>
              </div>
              <div class="route__info-box">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
                <img [src]=STAR alt="location image">
              </div>
              <div class="route__info-box">
                <img [src]=TIMER alt="location image">
                <span> 4h</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

<ng-template #showroute><app-route></app-route></ng-template>
