<div class="followers">
  <div class="container">
    <div class="row">
      <div *ngFor="let follower of followers" class="col-lg-4">
        <div class="follower">
          <div class="follower__overlay d-flex flex-column align-items-center">
            <button class="button follower__button">
              Ver perfil
            </button>
            <button class="button follower__button">
              Enviar mensaje
            </button>
            <button class="button follower__button">
              Dejar de seguir
            </button>
          </div>
          <div class="follower__banner">
            <img src="../../assets/img/users/1.jpg" alt="userpic" class="follower__profile">
          </div>
          <div class="follower__info">
            <p class="follower__name">
              {{follower.nombre}}
            </p>
            <p class="follower__username">
              @{{follower.nombreusuario}}
            </p>
            <p class="follower__routes">
              <span>1234</span> routes
            </p>
            <div class="stars d-flex justify-content-between">
              <img [src]=STAR alt="star image">
              <img [src]=STAR alt="star image">
              <img [src]=STAR alt="star image">
              <img [src]=STAR alt="star image">
              <img [src]=STARNF alt="star image">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
