.newR {
  background-color: #E9F0EF;
  padding-bottom: 35px;
}

.addRoute{
  background-color: #22626E;
  padding: 15px 24px;
  align-items: center;
  display: block;


}
.mapRoute{
  padding-bottom:30px;
  align-items: center;
  display: block;
  margin-right: auto;

}
.addRoute:hover {
  background-color: #13383E;

}
.addLocation{
  color: #ffffff;
}

.description{
  padding-bottom: 30px;
  vertical-align: baseline;
}

.nr1-input{
  padding:10px;
  width:950px;
  margin-left:250px;
}
select {
  width:150px;
}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
  font-size: 37px;

}

a {
  margin-top: 20px;
}
.iconCameraB{
  background-color: transparent;
}

.iconCamera{
  width:40px;
  margin-left: 15px;
}
.locationA{
  margin-bottom: 15px;
}
input{
  margin-bottom: 10px;
}

.uploadPhoto{

  display: block;
  width: 40%;
  height: 35%;
  margin-left: 4px;
}
.text{
  margin-top: 5px;
}
