/* You can add global styles to this file, and also import other style files */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  background-color: #D2E0DF;
}
body { padding-top: 80px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

ul, li {
  list-style: none;
}

div, p, form, input, a, span, button {
  box-sizing: border-box;
}

input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active, textarea, textarea:hover, textarea:focus, textarea:active {
  outline: none;
}

a, button {
  cursor: pointer;
}

input, button {
  margin: 0;
  padding: 0;
  border: none;
}

input {
  padding: 10px;

}

a:hover {
  text-decoration: none;
  color: grey;
}

.container {
  max-width: 1200px;
}

h2 {
  font-size: 25px;
}

.button {
  font-weight: 600;
  background-color: #13383E;
  color: #fff;
}

.button:hover {
  background-color: #000;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}


html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.btn {
  transition: all 0.5s ease;
}

